{% extends "census/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-3">
        <span></span>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to log-in. If you don't have an
            account <a href="{% url "account:register" %}">register here</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
    </div>
    </div>
    </div>
{% endblock %}