{% extends "census/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-3">
        <span></span>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form action="" method="post">
        {{ form|crispy }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
    </div>
    </div>
{% endblock %}