{% extends 'census/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-sm-3">
        <span></span>
    </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="wrapper">
                <h2>Population Enumeration System</h2>
                <p>Birth Certificate Results.</p>
            </div>
            <p class="mb-0">
                First Name: {{ applicant.first_name }}
            </p>
            <p class="mb-0">
                Middle Name: {{ applicant.middle_name  }}
            </p>
            <p class="mb-0">
                Surname: {{ applicant.surname }}
            </p>
            <p class="mb-0">
                Birth Certificate Number: {{ applicant.birth_cert_no }}
            </p>
             <p><a href="{% url 'certmanagement:print_birth_certificate' applicant.id %}">Print Birth Certificate</a></p>
        </div>
    </div>
{% endblock %}